.dynamic-blocks {
	overflow: hidden;
	margin-bottom: -68px;

	@include mq("xl") {
		margin-bottom: 0;
		overflow: initial;
		height: auto !important;
	}

	.dynamic-block {
		width: 100%;
		position: absolute;
		background: #FFFFFF;

		@include mq("xl") {
			position: relative;
			top: 0 !important;
			left: 0 !important;
			max-width: 100% !important;
			padding: 50px !important;
			background-color: #fff !important;
			box-shadow: 0px 20px 40px rgba(36, 36, 36, 0.05);

			&::after {
				content: none !important;
			}

			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}

		@include mq("sm") {
			padding: 25px !important;
		}

		.h1 {
			margin-bottom: 17px;
		}

		p {
			margin-bottom: 26px;
		}

		&__actions {
			margin-top: 24px;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.btn {
				margin-right: 24px;
			}

			@include mq("sm") {
				flex-direction: column;

				.btn {
					width: 100%;
					margin: 0;
					margin-bottom: 20px;
				}
			}
		}
	}

	.dynamic-block-1 {
		max-width: 695px;
		left: -50px;
		padding: 63px 55px 80px 60px;
		box-shadow: 0px 20px 40px rgba(36, 36, 36, 0.05);
		z-index: 8;
	}

	.dynamic-block-2 {
		max-width: 840px;
		padding: 70px 110px 86px 206px;
		background: #FFFFFF;
		box-shadow: 0px 20px 40px rgba(36, 36, 36, 0.05);
		z-index: 6;

		.h1 {
			color: $color-dark-blue;
			@include reset-title;
		}
	}

	.dynamic-block-3 {
		max-width: 695px;
		left: -50px;
		padding: 93px 60px 70px 69px;
		box-shadow: 0px 20px 40px rgba(36, 36, 36, 0.05);
		z-index: 7;
	}

	.dynamic-block-4 {
		max-width: 720px;
		left: -50px;
		padding: 144px 100px 85px 156px;
		background: #F0EEEB;
		z-index: 5;

		&::after {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			width: 50vw;
			background: #F0EEEB;
		}

		.h3 {
			color: $color-dark-blue;
			@include reset-title;
			margin-bottom: 26px;
		}
	}
}