.features {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 30px 20px;

		@include mq("lg") {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			grid-template-columns: 1fr;
			grid-gap: 40px 20px;
		}
	}

	&-item {
		text-align: center;

		&__icon {
			margin-left: auto;
			margin-right: auto;
			width: 80px;
			height: 80px;
			margin-bottom: 12px;
		}

		&__title {
			font-weight: 600;
			margin-bottom: 8px;
		}

		&__text {
			margin-bottom: 8px;
		}
	}
}