.review {
	position: relative;
	padding-top: 86px;
	padding-bottom: 86px;
	color: #fff;

	&__slider {

	}

	&-item {
		&__text {
			font-style: italic;
			text-align: center;
			max-width: 920px;
			margin-left: auto;
			margin-right: auto;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;

			@include mq("lg") {
				padding-left: 30px;
				padding-right: 30px;
			}

			@include mq("md") {
				-webkit-line-clamp: 6;
				font-size: 14px;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		&__author {
			margin-top: 32px;
			text-align: center;

			span {
				font-weight: 400;
				font-style: italic;
				margin-bottom: 6px;
			}

			p {
				font-weight: 600;
				color: $color-sand;
				font-style: italic;
			}

			img {
				margin-top: 24px;
				@include rounded(50%);
				width: 96px;
				height: 96px;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&-nav {
		z-index: 5;
		position: absolute;
		bottom: 28px;
		left: 50%;
		transform: translateX(-50%);
		width: 340px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq('sm') {
			width: 280px;
		}
	}
}
