.service-list {
	margin-top: 50px;
	margin-bottom: 50px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -10px;

		& > li {
			min-width: 350px;
			flex: 0 0 33%;
			max-width: 33%;
			padding: 10px;
			position: relative;
		}

		@include mq('sm') {
			margin: 0;

			& > li {
				min-width: initial;
				flex: 0 0 100%;
				max-width: 100%;
				padding: 10px 0;
			}
		}
	}

	&-item {
		z-index: 10;
		position: relative;
		filter: drop-shadow(0px 12px 24px rgba(101, 123, 162, 0.12));

		@include check-hover() {
			&:hover {
				.service-list-item__img {
					img {
						width: 105%;
						height: 105%;
					}
				}
			}
		}

		&__wrap {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			text-decoration: none !important;
			height: 100%;
		}

		&__img {
			overflow: hidden;
			border-radius: 2px;
			position: relative;
			padding-top: 47.3%;

			img {
				@include transition-hover;
				will-change: width, height, transform;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transform: translate(-50%, -50%);
			}
		}

		&__footer {
			padding: 30px 26px 26px 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-grow: 1;
		}

		&__title {
			font-family: $title-font;
			font-size: 22px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 0;

			@include mq("xl") {
				font-size: 20px;
			}
		}

		&__button {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 22px;
			width: 30px;

			span {
				@include transition-hover;
				display: inline-block;
				width: 30px;
				height: 2px;
				background-color: #000;
			}
		}

		&__menu {
			@include transition-hover;
			position: absolute;
			width: 100%;
			left: 0;
			top: 100%;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-5px);
			background-color: #fff;
			padding: 6px 0;

			li {
				a {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 8px 12px;
					font-size: 14px;
					line-height: 16px;
					color: #000;

					svg {
						flex: 0 0 7px;
					}
				}
			}
		}

		// open menu
		&.is-open {
			z-index: 11;

			.service-list-item__button {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 22px;
				width: 30px;

				span {
					&:first-child {
						transform: translateY(10px) rotate(45deg);
					}

					&:nth-child(2) { opacity: 0; }

					&:last-child {
						transform: translateY(-10px) rotate(-225deg);
					}
				}
			}

			.service-list-item__menu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				z-index: 5;
			}
		}
	}
}