.feedback
	.feedback-wrap
		form.feedback-form
			h4.h2 Свяжитесь с нами

			.form-item.form-item__text-field
				input(type="text")
				label Имя и Фамилия

			.form-item.form-item__text-field
				input(type="email")
				label Эл. почта

			.form-item.form-item__text-field
				input(type="tel")
				label Номер телефона

			.form-item.form-item__text-field
				input(type="text")
				label Название компании

			.form-item.form-item__textarea
				textarea
				label Комментарий

			.form-item
				button.btn.full-width(type="submit") Отправить

			.form-item__checkbox.form-item__agree
				label
					input(type="checkbox")
					span
						| Я прочитал(а) и принимаю условия Положения о конфиденциальности, Условия использования информации 
						| и Условия обработки персональных данных