footer.footer
    .footer-top
        .container.footer-top-container
            .footer-left
                .footer__logo
                    svg(width="120" height="76")
                        use(xlink:href="#logo")
                p ООО «Бухгалтерские Консультанты Плюс»
                span
                    | ИНН: 7707699379
                    br
                    | КПП: 770701001
            nav.footer-nav
                .footer-col
                    h5 О нас
                    ul
                        li
                            a(href="javascript:void(0);") Кто мы
                        li
                            a(href="javascript:void(0);") Команда
                        li
                            a(href="javascript:void(0);") Карьера
                        li
                            a(href="javascript:void(0);") Новости
                .footer-col
                    h5 Услуги
                    ul
                        li
                            a(href="javascript:void(0);") Аутсорсинг
                        li
                            a(href="javascript:void(0);") Услуги для семейных офисов состоятельных клиентов
                        li
                            a(href="javascript:void(0);") Временное управление
                        li
                            a(href="javascript:void(0);") БС-Digital
            .footer-contacts
                .footer-col
                    h5 Офис в Москве
                    p Бизнес-центр «Ильинка» ул. Ильинка 3/8 стр.5,
                    a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
                    a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
                .footer-col
                    h5 Офис в Волгограде
                    p Бизнес-центр «Икра» Наб. 62-й Армии
                    a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
                    a(href="tel:+7 (8442) 267-212") +7 (8442) 267-212

    .footer-bottom
        .container.footer-bottom-container
            span 2020 ©
            a(href="javascript:void(0);") Политика конфиденциальности

include ./icons.pug