include ./mobile-menu.pug

header#header.header
    .container.header__container
        button#mobile-menu-toggle
            span
            span
            span

        .header-logo
            a.header-logo__img(href="/")
                svg(width="82" height="52")
                    use(xlink:href="#logo")
            span.header-logo__text
                | Персонально
                br
                | Независимо
                br
                | Технологично
        nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a(href="javascript:void(0);") Кто мы

                li.header-nav__item.header-nav__item_parent
                    span Услуги
                    ul
                        li
                            a(href="javascript:void(0);")
                                | Аутсорсинг
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")
                        li
                            a(href="javascript:void(0);")
                                | Услуги для семейных офисов состоятельных клиентов
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")
                        li
                            a(href="javascript:void(0);")
                                | Финансовый консалтинг
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")
                        li
                            a(href="javascript:void(0);")
                                | Временное управление
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")
                        li
                            a(href="javascript:void(0);")
                                | Миграционное законодательство
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")
                        li
                            a(href="javascript:void(0);")
                                | БС-Digital
                                svg(width="7" height="10")
                                    use(xlink:href="#chevron-right")

                li.header-nav__item
                    a(href="javascript:void(0);") Команда

                li.header-nav__item
                    a(href="javascript:void(0);") Карьера

                li.header-nav__item
                    a(href="javascript:void(0);") Новости

                li.header-nav__item
                    a(href="javascript:void(0);") Контакты


        button.header__search-toggler(data-open-modal="search-modal")
            svg(width="21" height="20")
                use(xlink:href="#search")
        .header-languages
            a.header-languages__current(href="javascript:void(0);") Рус
            .header-languages__list
                ul
                    li
                        a(href="javascript:void(0);") Рус
                    li
                        a(href="javascript:void(0);") Eng
        .header-phone
            svg(width="36" height="36")
                use(xlink:href="#circle")
            a(href="tel:+74959212116") +7 (495) 921-21-16

#search-modal.modal.modal_search(aria-hidden="true")
    .modal__overlay(tabindex="-1" data-close-modal)
        .modal__container(role="dialog" aria-modal="true" aria-labelledby="Поиск по сайту")
            button.modal__close(aria-label="Закрыть" data-close-modal)
            .modal__header
                h3.modal__title Поиск по сайту
            .modal__content
                form.search-input
                    input.search-input__field(placeholder="Поиск..." type="search" name="search")
                    button.btn(type="submit") Найти
