.main-slider
    .main-slider__container.swiper-container
        .swiper-wrapper
            .main-slider__slide.swiper-slide(style="background-image: url(./images/main-slider-item-1.jpg);")
                .container
                    h2.main-slider__title
                        | Лидер роста
                        br
                        | среди аутсорсинговых компаний
                        br
                        | на российском рынке
                    p.main-slider__text
                        | БК + занимает 35 место в рейтинге крупнейших групп и компанийв области аутсорсинга
                        | учётных функций по итогам 2019 года,демонстрируя наиболее быстрый рост на рынке
                    .main-slider__action-btns
                        button.btn.btn-secondary Узнать подробнее
                        button.btn.btn-gray-transparent Cмотреть презентацию

            .main-slider__slide.swiper-slide(style="background-image: url(./images/main-slider-item-2.jpg);")
                .container
                    h2.main-slider__title
                        | Лидер роста
                        br
                        | среди аутсорсинговых компаний
                        br
                        | на российском рынке
                    p.main-slider__text
                        | БК + занимает 35 место в рейтинге крупнейших групп и компанийв области аутсорсинга
                        | учётных функций по итогам 2019 года,демонстрируя наиболее быстрый рост на рынке
                    .main-slider__action-btns
                        button.btn.btn-secondary Узнать подробнее
                        button.btn.btn-gray-transparent Cмотреть презентацию

        .main-slider-nav.container
            .main-slider-nav__pagination
                .main-slider-nav__number-current-slide 01
                .swiper-pagination
                .main-slider-nav__total-slides 02
            .main-slider-nav__buttons
                button.swiper-button-prev
                    svg(width="19" height="8")
                        use(xlink:href="#arrow-left")
                button.swiper-button-next
                    svg(width="19" height="8")
                        use(xlink:href="#arrow-right")