script(src="./mobile-menu.js")

nav#mobile-menu.mobile-menu
	ul
		li
			a(href="#") Кто мы
		li
			span Услуги
			ul
				li
					a(href="#") Аутсорсинг
				li
					a(href="#") Услуги для семейных офисов состоятельных клиентов
				li
					a(href="#") Финансовый консалтинг
				li
					a(href="#") Временное управление
				li
					a(href="#") Миграционное законодательство
				li
					a(href="#") БС-Digital
		li
			a(href="#") Команда
		li
			a(href="#") Карьера
		li
			a(href="#") Новости
		li
			a(href="#") Контакты