section.news-list.section
    .container-outer
        .container
            h2.h1.section__title В фокусе

            .news-list__slider.swiper-container
                .swiper-wrapper
                    each val in [1, 2, 1, 2]
                        .swiper-slide
                            a.news-list-item(href="#")
                                .news-list-item__img
                                    img(src="./images/news-list-"+val+".png")
                                .news-list-item__content
                                    .news-list-item__title ИП платит налог на доход, даже с личного счёта
                                    .news-list-item__desc Предприниматель, который применяет УСН «Доходы», в свою налоговую
                .swiper-pagination

            .news-list__all
                a.btn(href="javascript:void(0);") Все новости