ul.offices-list.row
	li
		.offices-list-item
				.offices-list-item__img
						img(src="./images/office-moscow.png")
				.offices-list-item__content
						.offices-list-item__city Москва
						.offices-list-item__address Бизнес-центр «Ильинка» ул. Ильинка 3/8 стр.5,
						.offices-list-item__contacts
								a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
								a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
						.offices-list-item__actions
								button.btn Смотреть на карте
								a.btn-link(href="javascript:void(0);") Подробнее
	li
		.offices-list-item
				.offices-list-item__img
						img(src="./images/office-volgograd.png")
				.offices-list-item__content
						.offices-list-item__city Волгоград
						.offices-list-item__address Бизнес-центр «Икра» Наб. 62-й Армии
						.offices-list-item__contacts
								a(href="tel:+7 (8442) 267-212") +7 (8442) 267-212
								a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
						.offices-list-item__actions
								button.btn Смотреть на карте
								a.btn-link(href="javascript:void(0);") Подробнее