.pagination
    a.btn.btn-secondary.prev(href="#")
        span Назад
        svg(width="19" height="8")
            use(xlink:href="#arrow-left")
    ul
        li(aria-selected="true")
            a(href="#") 1
        li(aria-selected="false")
            a(href="#") 2
        li(aria-selected="false")
            a(href="#") 3
        li.other
            span ...
        li(aria-selected="false")
            a(href="#") 5
        li(aria-selected="false")
            a(href="#") 6
        li(aria-selected="false")
            a(href="#") 7
    a.btn.btn-secondary.next(href="#")
        span Вперед
        svg(width="19" height="8")
            use(xlink:href="#arrow-right")