.without-breadcrumbs {
	padding-top: 52px;
}

.breadcrumbs {
	margin-top: 36px;
	margin-bottom: 28px;
	padding: 0 0 6px 0;
	position: relative;

	@include mq("md") {
		padding-bottom: 2px;
		margin-bottom: 18px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq("md") {
			white-space: nowrap;
			overflow-x: scroll;
		}

		li {
			position: relative;
			display: inline;

			span, a {
				font-size: 16px;
				line-height: 1.375;
				color: $color-text;

				@include mq("sm") {
					font-size: 14px;
					line-height: 1.2;
				}
			}

			&:not(:last-child) {
				&::after {
					content: "/";
					margin-left: 5px;
				}
			}
		}
	}
}