.btn {
	@include transition-active;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
	outline: none;
	user-select: none;
	position: relative;
	font-family: $inter-font;
	line-height: 1;
	font-size: 14px;
	font-weight: 600;
	padding: 16px 24px;
	text-decoration: none !important;
	background: transparent;
	border: 1px solid #7D7D7D;
	color: #261B04;

	&:disabled, &.button_disabled {
		pointer-events: none;
		cursor: default;
		background: rgba($color: #000, $alpha: 0.3) !important;
	}

	@include check-hover() {
		@include transition-hover;

		&:hover {
			background: #7D7D7D;
			color: #fff;
		}
	}

	&:active {
		background: #7D7D7D;
		color: #fff;
	}

	&.btn-transparent {
		background: transparent;

		@include check-hover() {
			&:hover {
				background: $color-sand;
			}
		}

		&:active {
			background: #7D7D7D;
			color: #fff;
		}
	}

	&.btn-secondary {
		border: 1px solid $color-sand;
		background: none;
		color: #fff;

		@include check-hover() {
			&:hover {
				background: $color-sand;
				color: #000;
			}
		}

		&:active {
			background: $color-sand;
			color: #000;
		}
	}

	&.btn-gray {
		background: #635F57;
		border-color: #635F57;
		color: #fff;

		@include check-hover() {
			&:hover {
				background: #fff;
				color: #635F57;
			}
		}

		&:active {
			background: #fff;
			color: #635F57;
		}
	}

	&.btn-gray-transparent {
		background: transparent;
		border-color: #7d7d7d;
		color: #fff;

		@include check-hover() {
			&:hover {
				background: #7d7d7d;
				color: #fff;
			}
		}

		&:active {
			background: #7d7d7d;
			color: #fff;
		}
	}

	&.btn-media {
		@include rounded(4px);
		background: #F0EEEB;
		border-color: #F0EEEB;
		color: #7E5A30;

		span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: relative;

			&::before {
				display: inline-block;
				content: "";
				width: 24px;
				height: 24px;
				margin-right: 12px;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.625 11.3982C18.125 11.6869 18.125 12.4086 17.625 12.6973L9.75 17.2439C9.25 17.5326 8.625 17.1717 8.625 16.5944L8.625 7.50112C8.625 6.92377 9.25 6.56292 9.75 6.8516L17.625 11.3982Z' fill='%23261B04'/%3E%3C/g%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%23A7955A'/%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white' transform='translate(6 6)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}

		@include check-hover() {
			&:hover { color: #A7955A; }
		}

		&:active { color: #A7955A; }
	}
}