.dropdown {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;

	&:not(:last-of-type) {
		margin-bottom: 16px;
	}

	&-header {
		padding: 15px 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none !important;

		&__title {
			color: #000;
		}

		&__icon {
			margin-left: 15px;
			position: relative;
			background: #F0EEEB;
			border-radius: 2px;
			width: 36px;
			height: 36px;
			@include transition-hover;

			&::before, &::after {
				@include transition-hover;
				display: inline-block;
				background-color: #000;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transform-origin: center;
				height: 2px;
				width: 12px;
				content: "";
			}

			&::after {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}
	}

	&-content {
		height: 0;
		overflow: hidden;

		&__wrap {
			border-top: 1px solid #DDDDDD;
			padding: 22px 22px 40px 22px;
		}
	}

	&[aria-expanded="true"] {
		background: #F0EEEB;

		.dropdown-header {
			&__icon {
				background-color: $color-primary;

				&::before {
					background-color: #fff;
					opacity: 0;
					transform: translate(-50%, -50%) rotate(-90deg);
				}

				&::after {
					background-color: #fff;
					transform: translate(-50%, -50%) rotate(-180deg);
				}
			}
		}
	
		.dropdown-content {
			height: auto;
		}
	}
}