.feedback {
	padding: 48px;
	max-width: 476px;
	margin-left: auto;
	margin-right: auto;
	background: #F0EEEB;
	border: 1px solid #E7E5E3;

	&-wrap {

	}

	.h2 {
		@include title-color;
		text-align: center;
	}
}