.footer {
	background-color: #171716;
	margin-top: 86px;

	&-top-container {
		padding-top: 64px;
		padding-bottom: 44px;
		display: flex;

		@include mq("xl") {
			flex-wrap: wrap;
		}
	}

	&-left {
		color: $gray-3;
		flex: 0 0 295px;
		max-width: 295px;
		margin-right: 50px;

		p {
			margin-bottom: 16px;
			font-size: 14px;
			line-height: 22px;
		}

		span {
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
		}

		@include mq("xl") {
			flex: 0 0 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	&__logo {
		margin-bottom: 16px;

		svg {
			--logo: #cca55c;
		}
	}

	&-col {
		min-width: 73px;
		display: flex;
		flex-direction: column;

		&:not(:first-of-type) {
			margin-left: 56px;
		}
		
		@include mq("md") {
			flex: 0 0 45%;
			max-width: 45%;
			margin-left: 0;
			margin-top: 40px;
		}
		
		@include mq("sm") {
			flex: 0 0 100%;
			max-width: 100%;
			margin-left: 0 !important;
		}

		h5 {
			margin-bottom: 23px;
			color: #fff;
			@include reset-title;
			font-family: $inter-font;
			font-size: 16px;
			line-height: 22px;
			font-weight: 700;
			position: relative;

			&::before {
				position: absolute;
				content: "";
				background-image: url("data:image/svg+xml,%3Csvg width='73' height='3' viewBox='0 0 73 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.06924e-05 1.00001L-3.0605e-05 2.00001L72.5581 3L72.5581 0L-3.06924e-05 1.00001Z' fill='%23997020'/%3E%3C/svg%3E%0A");
				bottom: -10px;
				left: 0;
				width: 73px;
				height: 3px;
			}
		}

		p, a {
			color: $gray-4;
			line-height: 24px;
			font-weight: 300;
		}

		a {
			text-decoration: none !important;
			@include transition-active;

			@include check-hover() {
				@include transition-hover;

				&:hover { color: #fff; }
			}

			&:active { color: #fff; }
		}

		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 12px;
				}

				a {
					color: $gray-4;
				}
			}
		}
	}

	&-nav {
		display: flex;

		@include mq("xl") {
			flex: 0 0 calc(50% - 28px);
			max-width: calc(50% - 28px);
		}
		
		@include mq("md") {
			flex: 0 0 100%;
			max-width: 100%;
			margin-left: 0;
		}

		@include mq('sm') {
			flex-wrap: wrap;
		}
	}

	&-contacts {
		display: flex;
		margin-left: 56px;

		@include mq("xl") {
			flex: 0 0 calc(50% - 28px);
			max-width: calc(50% - 28px);
		}
		
		@include mq("md") {
			flex: 0 0 100%;
			max-width: 100%;
			margin-left: 0;
		}

		@include mq('sm') {
			flex-wrap: wrap;
		}

		a {
			color: #fff;
			margin-bottom: 12px;
		}
	}

	&-bottom {
		padding-top: 16px;
		padding-bottom: 16px;
		position: relative;
		color: $gray-3;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-top: 1px solid #000;
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.12);
		}

		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		a {
			@include transition-hover;
			color: inherit;
			text-decoration: none !important;

			&:hover {
				color: #fff;
			}
		}
	}
}
