.header {
	z-index: 1000;
	position: sticky;
	top: 0;
	padding: 18px 0 22px 0;
	background: #fff;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
	@include transition-hover;

	@include mq("sm") {
		padding: 15px 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&__img {
			max-width: 82px;
		}

		&__text {
			font-size: 11px;
			line-height: 14px;
			color: $color-text;
			position: relative;
			padding-left: 19px;

			&::before {
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: 9px;
				border: 1px solid #ccc;
				content: "";
			}
		}

		@include mq("xl") {
			margin-right: auto;
		}

		@include mq("md") {
			position: relative;
			top: -4px;

			&__img {
				max-height: 40px;

				svg {
					height: 40px;
				}
			}

			&__text {
				display: none;
			}
		}
	}

	&__search-toggler {
		@include transition-hover;
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;

		svg {
			--search-fill: url(#search_gradient);
		}

		&:hover {
			opacity: 0.75;
		}

		@include mq("xl") {
			margin-right: 30px;
		}

		@include mq("md") {
			display: none;
		}
	}

	&-phone {
		@include flex-center;
		@include title-color;
		color: $gradient-from;
		font-family: $title-font;
		font-size: 24px;
		line-height: 28px;
		font-weight: 600;

		a {
			color: inherit;
			text-decoration: none !important;
		}

		svg {
			--fill-circle: #7e5a30;
		}

		@include mq("md") {
			svg {
				display: none;
			}
		}

		@include mq("md") {
			display: none;
		}
	}

	&-languages {
		position: relative;

		&:hover {
			.header-languages__list {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}

		@include mq("xl") {
			margin-right: 15px;
		}

		&__current {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-text;
			font-weight: 500;
			line-height: 1;
			text-decoration: none !important;

			&::after {
				position: relative;
				top: 3px;
				margin-left: 4px;
				content: "";
				border: 4px solid transparent;
				border-top-color: $color-text;
			}
		}

		&__list {
			position: absolute;
			top: 100%;
			left: 0;
			padding-top: 3px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(5px);
			@include transition-hover;

			ul {
				width: 50px;
				background-color: #fff;
				padding: 6px;
				box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12);
			}

			li {
				a {
					display: inline-block;
					padding: 6px;
					font-size: 14px;
					line-height: 16px;
					color: $color-text;
				}
			}
		}
	}

	.main-page-body &:not(.is-scroll) {
		background: transparent;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0);

		.header-logo {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&__img {
				svg {
					--logo: #fff;
				}
			}

			&__text {
				color: rgba(255, 255, 255, 0.8);

				&:before {
					border: 1px solid rgba(255, 255, 255, 0.2);
				}
			}
		}

		.header-phone {
			color: $color-sand;
			@include reset-title;

			svg {
				--fill-circle: #dabe89;
			}
		}

		.header__search-toggler {
			svg {
				--search-fill: #dabe89;
			}
		}

		.header-languages {
			&__current {
				color: #fff;

				&::after {
					border-top-color: rgba(255, 255, 255, 0.6);
				}
			}
		}
	}
}
