.header-nav {
	@include mq("xl") {
		display: none;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		&:not(:last-of-type) { margin-right: 24px; }

		a, span {
			@include transition-active;
			cursor: pointer;
			text-decoration: none !important;
			font-weight: 500;
			line-height: 1;
			color: $color-text;

			@include check-hover() {
				@include transition-hover;

				&:hover { opacity: 0.8; }
			}

			&:active { opacity: 0.8; }
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;

			&::after {
				position: relative;
				top: 3px;
				margin-left: 4px;
				content: "";
				border: 4px solid transparent;
				border-top-color: #999eb4;
			}
		}

		&_parent {
			position: relative;

			@include check-hover() {
				@include transition-hover;

				&:hover {
					& > ul {
						visibility: visible;
						opacity: 1;
						transform: translateY(3px);
					}
				}
			}
		}

		ul {
			@include transition-hover;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			transform: translateY(10px);
			width: 290px;
			background-color: #fff;
			box-shadow: 0px 2px 12px 0px rgba(81, 151, 181, 0.12);
			padding: 6px 0;
		}

		li {
			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 12px;
				font-size: 14px;
				line-height: 16px;
				color: #000;

				svg {
					flex: 0 0 7px;
				}
			}
		}
	}
}

.main-page-body .header:not(.is-scroll) {
	.header-nav {
		&__item {
			& > a, span {
				color: rgba(255, 255, 255, 0.6);

				@include check-hover() {
					&:hover {
						opacity: 1;
						color: #fff;
					}
				}

				&:active {
					opacity: 1;
					color: #fff;
				}
			}
		}
	}
}