.form-item {
	&:not(:last-child) {
		margin-bottom: 16px;
	}	

}

@import "./input-fields/text";
@import "./input-fields/checkbox-radio";
@import "./input-fields/select";
@import "./input-fields/textarea";