.main-slider {
	margin-top: -98px;
	
	@include mq('md') {
		margin-top: -80px;
	}

	@include mq('sm') {
		margin-top: -70px;
	}

	&__slide {
		padding-top: 170px;
		padding-bottom: 170px;
		min-height: 36.45vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@include mq('sm') {
			min-height: 100vh;
			padding-top: 130px;
			padding-bottom: 130px;
		}
	}

	&__title {
		color: #fff;
		text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24), 0px 6px 32px rgba(0, 0, 0, 0.32);
		font-weight: 600;
		font-size: 48px;
		line-height: 1.16;
		@include reset-title;

		@include mq("sm") {
			font-size: 28px;
		}
	}

	&__text {
		max-width: 660px;
		margin-top: 15px;
		font-size: 20px;
		line-height: 1.5;
		color: rgba(255, 255, 255, 0.8);

		@include mq("sm") {
			font-size: 16px;
		}
	}

	&__action-btns {
		margin-top: 35px;
		margin-left: -8px;
		margin-right: -8px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.btn {
			margin-left: 8px;
			margin-right: 8px;
		}

		@include mq("sm") {
			flex-direction: column;
			margin: -5px 0;

			.btn {
				width: 100%;
				margin: 5px 0;
			}
		}
	}

	&-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: 48px;
		left: 0;
		right: 0;
		z-index: 1;

		@include mq("sm") {
			justify-content: center;
		}

		&__pagination {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			.swiper-pagination {
				position: relative;
				background: rgba(255, 255, 255, 0.1);
				height: 2px;
				width: 180px;
				margin-left: 12px;
				margin-right: 12px;

				span {
					background: $color-sand;
				}
			}
		}

		&__number-current-slide,
		&__total-slides {
			font-weight: 600;
			font-size: 24px;
			line-height: 27px;
			color: $color-sand;
			font-family: $title-font;
		}

		&__buttons {
			display: flex;

			.swiper-button-prev {
				right: -1px;
			}

			@include mq("sm") {
				display: none;
			}
		}
	}
}