#mobile-menu-toggle {
	display: none;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	background: none;
	border: none;
	outline: none;
	position: relative;
	padding: 0;
	margin-right: 20px;
	cursor: pointer;

	span {
		display: block;
		background: #000;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -14px;
		height: 2px;
		width: 28px;
		@include transition-hover;

		&:first-of-type {
			transform: translateY(-8px);
		}

		&:last-of-type {
			transform: translateY(8px);
		}

		.main-page-body header:not(.is-scroll) & {
			background: #fff;
		}
	}

	&:hover {
		opacity: 0.75;
	}

	.mm-wrapper_opened & {
		span {
			&:first-of-type {
				transform: translateY(0px) rotate(45deg);
			}

			&:nth-of-type(2) {
				opacity: 0;
			}
	
			&:last-of-type {
				transform: translateY(0px) rotate(-225deg);
			}
		}
	}

	@include mq('xl') {
		display: block;
	}
}

.mobile-menu {
	a {
		text-decoration: none !important;
	}

	.mm-listview {
		a, span {
			@include transition-hover;

			&:hover {
				transform: translateX(5px);
			}
		}
	}
}