.modal {
  display: none;
  z-index: 1000;
  position: relative;

  &.is-open {
    display: block;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background: #FFFFFF;
    border: 1px solid #E7E5E3;
    padding: 48px;
    width: 100%;
    max-width: 476px;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
  }

  &__title {
    display: block;
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.15;
    @include title-color;
  }

  &__close {
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    right: 13px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    @include transition-hover;

    &:hover {
      opacity: 0.8;
    }

    &::before, &::after { 
      width: 30px;
      height: 2px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      transform: translate(-50%, -50%) rotate(-45deg);
      background: #4E4E52;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  & .modal__container,
  & .modal__overlay {
    will-change: transform;
  }
}

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(30px); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-30px); }
}

.modal_search {

  .modal__container {
    background: transparent;
    border: none;
    max-width: 1200px;
    padding: 0 190px;

    @include mq("lg") {
      padding: 0 100px;
    }

    @include mq("md") {
      padding: 0 10px;
    }
  }
  
  .modal__close {
    top: 2px;
    right: 15px;

    &::before, &::after { background-color: #fff; }
  }

  .modal__header {
    margin-bottom: 32px;
  }

  .modal__title {
    @include reset-title;
    color: #fff;
    text-align: center;

    @include mq("sm") {
      font-size: 24px;
    }
  }

  .modal__content {
    .search-input {
      display: flex;

      @include mq("sm") {
        flex-direction: column;
        align-items: center;
      }

      input {
        background: #FFFFFF;
        border: 1px solid #DABE89;
        font-size: 18px;
        padding: 10px 20px;
        flex-grow: 1;
        outline: none;

        @include mq("sm") {
          width: 100%;
        }
      }

      button {
        font-size: 14px;
        font-weight: 600;
        background: #DABE89;
        padding: 16px 24px;
        width: 160px;
        color: #000;

        @include mq("sm") {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}