.news-list {
  &__slider {
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 40px;
    margin-bottom: 16px;

    @include mq('lg', 'min') {
      overflow: initial;

      .swiper-wrapper {
        display: flex;
        justify-content: center;
      }

      .swiper-pagination {
        display: none;
      }
    }

    @include mq('sm') {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      padding-left: 10px;
      padding-right: 10px;

      @include mq('lg', 'min') {
        flex: 0 0 25%;
      }
    }
  }

  &-item {
    text-decoration: none !important;
    display: block;
    background-color: #fff;

    &:hover {
      .news-list-item__img {
        img {
          width: 105%;
          height: 105%;
        }
      }

      .news-list-item__title {
        color: $color-primary;
      }
    }

    @include mq('lg', 'min') {
      box-shadow: 0px 6px 24px rgba(154, 144, 96, 0.24);
    }

    &__img {
      padding-top: 64.2%;
      position: relative;
      overflow: hidden;

      img {
        @include transition-hover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center;
      }
    }

    &__content {
      padding: 36px 28px 32px;
      height: 254px;
    }

    &__title {
      @include transition-hover;
      color: #323233;
      font-family: $title-font;
      font-size: 26px;
      line-height: 1.4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    &__desc {
      margin-top: 12px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      height: 66px;
    }
  }

  &__all {
    text-align: center;
  }
}