.offices-info {
	display: flex;
	flex-wrap: wrap;
	margin: -20px -10px;
	justify-content: center;
	align-items: flex-start;

	& > li {
		padding: 20px 10px;
		min-width: 570px;
		flex: 0 0 50%;
		max-width: 50%;

		@include mq("lg") {
			min-width: initial;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&-item {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding: 32px;
		background: #F0EEEB;

		@include mq("md") {
			padding: 24px;
		}

		&__img {
			@include rounded(2px);
			overflow: hidden;
			margin-bottom: 24px;

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				max-height: 250px;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		&__city {
			color: $color-dark-blue;
			font-family: $title-font;
			font-size: 28px;
			line-height: 1.14;
			letter-spacing: 0.02em;
			margin-bottom: 16px;
		}

		&__address {
			color: #253238;
			margin-bottom: 16px;
		}

		&__contacts {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 16px;

			@include mq("md") {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}

			a {
				font-size: 18px;
				font-weight: 600;
				color: $color-dark-blue;
				position: relative;

				&:not(:first-of-type) {
					margin-left: 32px;

					&::before {
						position: absolute;
						left: -16px;
						top: 0;
						bottom: 0;
						border: 1px solid #ccc;
						content: "";
					}
				}

				@include mq("md") {
					font-size: 16px;

					&:not(:first-of-type) {
						margin-left: 0px;
						margin-top: 5px;

						&::before { content: none; }
					}
				}
			}
		}

		&__text {
			color: #5C5C5C;
			line-height: 1.625;
			
			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.btn {
			margin-top: 24px;
		}
	}
}