.offices {
	margin-bottom: 0;

	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: -20px -10px;
		justify-content: center;
		align-items: flex-start;

		& > li {
			padding: 20px 10px;
			min-width: 570px;
			flex: 0 0 50%;
			max-width: 50%;

			@include mq("lg") {
				min-width: initial;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		&-item {
			display: flex;
			justify-content: flex-start;

			@include mq("sm") {
				flex-direction: column
			}

			&__img {
				@include rounded(2px);
				flex: 0 0 180px;
				overflow: hidden;
				margin-right: 16px;

				img {
					object-fit: cover;
					object-position: center;
					width: 100%;
					max-height: 160px;
				}

				@include mq("sm") {
					margin-right: 0;
					max-width: 300px;

					img {
						max-height: initial;
					}
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				@include mq("sm") {
					margin-top: 15px;
				}
			}

			&__city {
				color: $color-dark-blue;
				font-family: $title-font;
				font-size: 28px;
				line-height: 1.14;
				letter-spacing: 0.02em;
				margin-bottom: 6px;
			}

			&__address {
				color: #253238;
				margin-bottom: 8px;
			}

			&__contacts {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				@include mq("md") {
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
				}

				a {
					font-size: 18px;
					font-weight: 600;
					color: $color-dark-blue;
					position: relative;

					&:not(:first-of-type) {
						margin-left: 32px;

						&::before {
							position: absolute;
							left: -16px;
							top: 0;
							bottom: 0;
							border: 1px solid #ccc;
							content: "";
						}
					}

					@include mq("md") {
						font-size: 16px;

						&:not(:first-of-type) {
							margin-left: 0px;
							margin-top: 5px;

							&::before { content: none; }
						}
					}
				}
			}

			&__actions {
				margin-top: 20px;
				padding-left: 20px;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				.btn {
					margin-right: 30px;

					@include mq("sm") {
						margin-right: 16px;
					}
				}

				@include mq("lg") {
					padding-left: 0;
				}
			}
		}
	}
}