.pagination {
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		li {
			&:not(:last-of-type) {
				margin-right: 10px;
			}

			a, span {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 36px;
				font-size: 12px;
				color: $color-text;

				@include mq("sm") {
					width: 28px;
					height: 28px;
				}
			}

			a {
				@include transition-active;
				text-decoration: none !important;
				background: #EAEAEA;
				border-radius: 2px;

				@include check-hover() {
					@include transition-hover;

					&:hover {
						color: #fff;
						background: $color-text;
					}
				}
			}
			&.other {
				cursor: default;
			}

			&[aria-selected="true"] {
				a {
					color: #fff;
					background: $color-text;
				}
			}
		}
	}

	.btn {
		height: 36px;
		width: 77px;
		padding: 10px 16px;

		span {
			color: #000;
			font-size: 12px;
		}

		svg {
			display: none;
		}

		&.prev {
			margin-right: 8px;
		}

		&.next {
			margin-left: 8px;
		}

		@include mq("md") {
			width: 36px;
			padding: 0;

			span {
				display: none;
			}

			svg {
				@include transition-active;
				display: inline-block;
			}

			@include check-hover() {
				svg {
					@include transition-hover;
				}

				&:hover svg {
					--arrow: #fff;
				}
			}

			&:active svg {
				--arrow: #fff;
			}
		}

		@include mq("sm") {
			width: 28px;
			height: 28px;

			svg {
				width: 14px;
			}
		}
	}
}