.section {
	margin-top: 86px;
	margin-bottom: 86px;

	&_dark {
		background-color: #2d3036;

		.section__title {
			color: $color-sand;
			@include reset-title;

			&::after {
				background-image: url("data:image/svg+xml,%3Csvg width='156' height='7' viewBox='0 0 156 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='152.5' cy='3.5' r='3.5' fill='%23ffffff'/%3E%3Ccircle cx='3.5' cy='3.5' r='3.5' fill='%23ffffff'/%3E%3Cpath d='M6 3L77.4419 2L150 3V4L77.4419 5L6 4V3Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&__title {
		position: relative;
		margin-bottom: 56px;
		text-align: center;

		&::after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='156' height='7' viewBox='0 0 156 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='152.5' cy='3.5' r='3.5' fill='%23997020'/%3E%3Ccircle cx='3.5' cy='3.5' r='3.5' fill='%23997020'/%3E%3Cpath d='M6 3L77.4419 2L150 3V4L77.4419 5L6 4V3Z' fill='%23997020'/%3E%3C/svg%3E%0A");
			position: absolute;
			bottom: -13px;
			left: 50%;
			transform: translateX(-50%);
			width: 156px;
			height: 7px;
		}
	}

	&__description {
		max-width: 875px;
		margin: -32px auto 54px auto;
		text-align: center;
	}
}