.service-menu-nav {
	padding: 32px 24px;
	border: 1px solid #CCCCCC;
	background: #F0EEEB;

	&-item {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			content: "";
			border-bottom: 1px solid #CCCCCC;
			box-shadow: 0px 1px 0px #FFFFFF;
		}

		&:last-of-type {
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				content: "";
				border-bottom: 1px solid #CCCCCC;
				box-shadow: 0px 1px 0px #FFFFFF;
			}
		}

		&__header {
			display: block;
			padding-top: 16px;
			padding-bottom: 16px;
			position: relative;
			color: #1D1D1D;
			font-weight: 700;
			text-decoration: none !important;

			&::after {
				@include transition-hover;
				position: absolute;
				top: 50%;
				right: 12px;
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-top: -4px;
				border: 4px solid transparent;
				border-top-color: #999EB4;
			}
		}

		&__list {
			height: 0;
			overflow: hidden;

			ul {
				position: relative;
				padding: 16px 0 16px 16px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					content: "";
					border-bottom: 1px solid #CCCCCC;
					box-shadow: 0px 1px 0px #FFFFFF;
				}
			}

			li {
				&:not(:last-of-type) {
					margin-bottom: 16px;
				}
			}

			a {
				display: block;
				text-decoration: none !important;
			}
		}

		&[aria-expanded="true"] {
			.service-menu-nav-item__header {
				@include title-color;

				&::after {
					transform: scale(-1);
				}
			}

			.service-menu-nav-item__list {
				height: auto;
			}
		}
	}
}