.subscription {
  margin-top: 86px;
  margin-bottom: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 6px solid #F0EEEB;
  padding: 42px 80px;

  @include mq("xl") {
    padding: 35px 60px;
  }

  @include mq("lg") {
    flex-direction: column;
  }

  @include mq("sm") {
    padding: 30px 45px;
  }

  &__text {
    font-size: 28px;
    line-height: 1.26;
    margin-bottom: 0;
    @include title-color;

    @include mq("xl") {
      font-size: 24px;
    }

    @include mq("lg") {
      text-align: center;
    }

    @include mq("sm") {
      font-size: 18px;
    }
  }

  &__form {
    flex: 0 0 380px;
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mq("lg") {
      flex: 0 0 auto;
      max-width: initial;
      margin-top: 25px;
    }
    
    @include mq("sm") {
      flex-direction: column;

      .btn {
        margin-top: 16px;
        width: 100%;
      }
    }

    .form-item__text-field {
      input {
        @include rounded(0);
        padding: 14px 20px;
        border: 1px solid #DABE89;

        & + label {
          color: #9B9BA3;
          top: 13px;
          left: 20px;
        }
      }

      &.focus {
        input + label {
          font-size: 12px;
          transform: translate(0, -10px);
        }
      }
    }
  }
}