.swiper-container {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: $color-sand;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    border: 1px solid rgba(218, 190, 137, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: none;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
    outline: none;

    svg {
      width: 18px;
      height: 7px;
    }

    &::after {
      content: none;
    }
  }
}
