@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-col($width: auto) {
	flex: 0 0 $width;
	@if $width == 'auto' {
		max-width: 100%;
	} @else {
		max-width: $width;
	}
}

// Rounded corners
@mixin rounded($radius: 8px) {
	border-radius: $radius;
}

@mixin rounded-bottom($radius: 8px) {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rounded-left($radius: 8px) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-right($radius: 8px) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin rounded-top($radius: 8px) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin shadow-none {
	box-shadow: none !important;
}

// Transition
@mixin transition-active() {
	transition: all .1s;
}

@mixin transition-hover {
	transition: all .25s ease-in-out;
}

// img cover
@mixin img-container($height) {
	position: relative;
	overflow: hidden;
	padding-top: $height;

	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin reset-title() {
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

@mixin title-color() {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin check-hover() {
	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		@content;
	}
}

// Media queries
$breakpoints_width: (
	"xs" : 320px,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px,
	"xl" : 1200px,
);

$breakpoints_height: (
	"xs" : 0,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px
);

@mixin mq($size, $type: max, $direction: horizontal) { // (["xs", "sm", "md", "lg", "xl/null", "xxl/null"], null/"min", null/vertical)
  @if $direction == vertical {
    @if map_has_key($breakpoints_height, $size) {
      $height: map_get($breakpoints_height, $size);
      @if $type == min {
        $height: $height + 1px;
      }
      @media only screen and (#{$type}-height: $height) {
        @content;
      }
    }
	} @else {
		@if map_has_key($breakpoints_width, $size) {
			$width: map_get($breakpoints_width, $size);
			@if $type == min {
				$width: $width + 1px;
			}
			@media only screen and (#{$type}-width: $width) {
				@content;
			}
		}
  }
}
