@font-face {
	font-family: "Berlingske Serif";
	src: url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff2") format("woff2"),
		url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff") format("woff"),
		url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.ttf") format("ttf"),
		url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.svg") format("svg");
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-Light.woff2") format("woff2"),
		url("../fonts/Inter/Inter-Light.woff") format("woff"),
		url("../fonts/Inter/Inter-Light.ttf") format("ttf"),
		url("../fonts/Inter/Inter-Light.svg") format("svg");
	font-display: swap;
	font-weight: 300;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
		url("../fonts/Inter/Inter-Regular.woff") format("woff"),
		url("../fonts/Inter/Inter-Regular.ttf") format("ttf"),
		url("../fonts/Inter/Inter-Regular.svg") format("svg");
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"),
		url("../fonts/Inter/Inter-Medium.woff") format("woff"),
		url("../fonts/Inter/Inter-Medium.ttf") format("ttf"),
		url("../fonts/Inter/Inter-Medium.svg") format("svg");
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
		url("../fonts/Inter/Inter-SemiBold.woff") format("woff"),
		url("../fonts/Inter/Inter-SemiBold.ttf") format("ttf"),
		url("../fonts/Inter/Inter-SemiBold.svg") format("svg");
	font-display: swap;
	font-weight: 600;
}

html {
	font-style: normal;
	font-weight: 400;
	line-height: 1.375;
	color: $color-text;
	font-family: $inter-font;
	font-size: 16px;
}

body {
	background-color: #f0eeeb;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
	color: $color-text;
	font-family: $inter-font;
	font-size: 16px;
	line-height: 1.375;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: $color-text;
	cursor: pointer;
	text-decoration: none;

	@include check-hover() {
		&:hover:not(.button) {
			text-decoration: underline;
		}
	}

	&:active:not(.button) {
		text-decoration: underline;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $title-font;
	margin: 0;
	font-weight: 600;
	line-height: 1;
}

h1, .h1 {
	font-size: 48px;
	line-height: 1.17;
	margin-bottom: 16px;
	letter-spacing: 0.02em;
	@include title-color;

	@include mq("xl") {
		font-size: 40px;
	}

	@include mq("sm") {
		font-size: 34px;
	}
}

h2, .h2 {
	font-size: 32px;
	line-height: 1.1875;
	margin-bottom: 24px;
	color: #1D1D1D;

	@include mq("xl") {
		font-size: 28px;
		line-height: 1;
	}

	@include mq("sm") {
		font-size: 26px;
	}
}

h3, .h3 {
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 1.17;
	color: #1D1D1D;

	@include mq("xl") {
		font-size: 22px;
	}
}

h4, .h4 {
	font-size: 22px;
	margin-bottom: 20px;
	color: #1D1D1D;

	@include mq("sm") {
		font-size: 20px;
	}
}

h5, .h5 {
	font-size: 20px;
	color: #1D1D1D;
}

h6, .h6 {
	font-size: 18px;
	color: #1D1D1D;
}

p {
	line-height: 1.625;
	margin: 0;

	&:not(:last-child) {
		margin: 0 0 32px 0;
	}
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 600;
}

.text-center {
	text-align: center !important;
}

.btn-link {
	display: inline-block;
	font-size: 14px;
	line-height: 1.85;
	text-decoration: none !important;
	text-transform: uppercase;
	border-bottom: 2px solid $color-sand;
	font-weight: 600;
	color: #261B04;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
	letter-spacing: 0.02em;
	@include transition-active;

	@include check-hover() {
		@include transition-hover;

		&:hover { color: $color-sand; }
	}

	&:active { color: $color-sand; }
}

article img {
	margin-bottom: 24px;
}

article ul,
ul.marker {
	list-style: none;
	margin: 0 0 32px 0;
	padding: 0 0 0 32px;

	@include mq('sm') {
		padding: 0 0 0 8px;
	}

	li {
		position: relative;
		padding-left: 36px;

		&:not(:last-of-type) {
			margin-bottom: 17px;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 23px;
			height: 23px;
			background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7529 2.34522L14.8188 2.38163L14.8927 2.39609L18.5401 3.10988L19.8765 6.57798L19.9035 6.64822L19.9508 6.70677L22.2861 9.59811L21.0806 13.1138L21.0561 13.185L21.0547 13.2603L20.9852 16.9763L17.8018 18.8945L17.7373 18.9334L17.6879 18.9901L15.246 21.792L11.5744 21.2152L11.5 21.2036L11.4256 21.2152L7.75402 21.792L5.31212 18.9901L5.26267 18.9334L5.1982 18.8945L2.01483 16.9763L1.94526 13.2603L1.94385 13.185L1.91944 13.1138L0.713867 9.59811L3.04917 6.70677L3.09646 6.64822L3.12353 6.57798L4.45985 3.10988L8.10732 2.39609L8.18118 2.38163L8.24706 2.34522L11.5 0.547473L14.7529 2.34522Z' stroke='url(%23paint0_linear)' stroke-width='0.958333'/%3E%3Ccircle cx='11.5001' cy='11.5003' r='5.27083' fill='%230E3D8F'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='23' y1='-0.479165' x2='4.3125' y2='26.8333' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A27A23'/%3E%3Cstop offset='1' stop-color='%23FFCD4D'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
			content: "";
		}
	}
}

article ol,
ol.marker {
	list-style: none;
	counter-reset: newCounter;
	margin: 0 0 32px 0;
	padding: 0 0 0 32px;

	@include mq('sm') {
		padding: 0 0 0 8px;
	}

	li {
		position: relative;
		padding-left: 24px;

		&:not(:last-of-type) {
			margin-bottom: 16px;
		}

		&::before {
			counter-increment: newCounter;
			content: counter(newCounter)".";
			position: absolute;
			top: 0;
			left: 0;

		}
	}
}

hr {
	border: none;
	border-bottom: 6px solid #F0EEEB;
	margin-bottom: 32px;
	box-sizing: border-box;
}

blockquote {
	margin: 0 0 32px 0;
	border: 6px solid #F0EEEB;
	padding: 36px 83px;
	@include title-color;
	font-family: $title-font;
	font-weight: 600;
	font-size: 24px;
	
	p {
		line-height: 1.16;
	}

	*:last-child {
		margin-bottom: 0;
	}

	@include mq('lg') {
		font-size: 22px;
		padding: 36px;
	}
}