// Colors
$color-black: #000;

$color-dark-blue: #374957;
$color-text: #4e4e52;
$color-primary: #0E3D8F;
$color-sand: #dabe89;

$bg-container-outer: #F0EEEB;

$gray-3: #ccc;
$gray-4: #bdbdbd;

$gradient-from: #4F4937;
$gradient-to: #7E5A30;
$gradient: linear-gradient(to bottom, $gradient-from, $gradient-to);

// Fonts
$inter-font: "Inter", sans-serif;
$title-font: "Berlingske Serif", sans-serif;
