.about-block {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	@include mq('lg') {
		flex-direction: column;
	}

	&:not(:last-of-type) {
		padding-bottom: 16px;
		border-bottom: 6px solid #F0EEEB;
		margin-bottom: 48px;
	}

	&__title {
		flex: 0 0 280px;
		max-width: 280px;

		@include mq('lg') {
			flex: 0 0 auto;
			max-width: initial;
		}
	}

	&__content {
		flex-grow: 1;
		padding-left: 20px;

		@include mq('lg') {
			padding-left: 0;
		}
	}
}