.contacts-page {
	.offices-list {
		margin-bottom: 49px;
	}

	.map {
		h2 {
			@include title-color;
			margin-bottom: 33px;
		}
	}

	.contacts-feedback {
		margin-top: 75px;
		margin-bottom: -86px;
		padding-top: 80px;
		padding-bottom: 115px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#map {
	height: 400px;
}