.contact-persones {
	margin-top: 86px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -18px -10px;
		justify-content: center;
		align-items: flex-start;
	
		& > li {
			padding: 18px 10px;
			min-width: 570px;
			flex: 0 0 50%;
			max-width: 50%;
	
			@include mq("lg") {
				min-width: initial;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.contact-persone {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 24px;
	background: #F0EEEB;
	border: 1px solid #CCCCCC;

	@include mq("sm") {
		align-items: flex-start;
	}

	@media screen and (max-width: 420px) {
		flex-direction: column;
	}

	&__img {
		display: flex;
		flex: 0 0 32.7%;
		max-width: 32.7%;

		img {
			object-fit: contain;
			object-position: center;
			max-width: 100%;
		}

		@media screen and (max-width: 420px) {
			flex: 0 0 auto;
			width: 100%;
			max-width: 260px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			justify-content: center;
			margin-bottom: 20px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex-grow: 1;
		padding-left: 24px;

		@media screen and (max-width: 420px) {
			text-align: center;
			padding-left: 0;
			align-items: center;
			width: 100%;
		}

		& > strong {
			color: #3C3223;
			font-weight: 600;

			@media screen and (max-width: 420px) {
				text-align: center;
			}
		}

		& > span {
			display: inline-block;
			margin-top: 2px;
			color: #5E574C;
			max-width: 280px;

			strong {
				color: #000;
				font-style: italic;
			}
		}
	}

	&__contacts {
		display: flex;
		width: 100%;
		position: relative;
		margin-top: 12px;
		padding-top: 12px;
		padding-bottom: 12px;

		&::before, &::after {
			display: block;
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			border-bottom: 1px solid #CCCCCC;
			box-shadow: 0px 1px 0px #FFFFFF;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		a {
			display: inline-block;
			flex-grow: 1;
			color: #374957;
			font-weight: 600;
			text-align: center;

			&:last-of-type {
				border-left: 1px solid #CCCCCC;
			}
		}

		@include mq('sm') {
			flex-direction: column;
			align-items: flex-start;

			a {
				&:last-of-type {
					border: none;
					margin-top: 5px;
				}
			}
		}

		@media screen and (max-width: 420px) {
			align-items: center;
		}
	}

	.btn {
		margin-top: 12px;
	}
}
