.jobs-page {
	.page-title {
		margin-bottom: 16px;
	}

	.dropdown-content {
		strong {
			& + * {
				margin-top: 12px;
			}
		}

		ul {
			padding-left: 20px;
			list-style: none;
			margin-bottom: 32px;

			li {
				line-height: 2;

				&::before {
					content: "— ";
				}
			}
		}

		&__wrap {
			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}
}