.news-page {
	.subscription {
		margin-top: 86px;
		margin-bottom: 0;
	}
}

.news-list {
	.news-card {
		@include transition-active;
		display: flex;
		text-decoration: none !important;
		background: #fff;
		box-shadow: 0px 6px 24px rgba(154, 144, 96, 0);

		@include check-hover() {
			&, .news-card__title {
				@include transition-hover;
			}

			&:hover {
				box-shadow: 0px 6px 24px rgba(154, 144, 96, 0.24);

				.news-card__title {
					color: $color-primary;
				}
			}
		}

		&:active {
			background: #fff;
			color: #635F57;
		}

		&:not(:last-of-type) {
			margin-bottom: 32px;
		}

		&__img {
			flex: 0 0 36%;
			max-width: 36%;

			img {
				display: flex;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		&__content {
			padding: 28px;
		}

		&__title {
			@include transition-active;
			@include reset-title;
			font-weight: 600;
			font-size: 26px;
			line-height: 1.23;
			color: #323233;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}

		&__excerpt {
			color: #4E4E52;
			margin-top: 12px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}

		@include mq('sm') {
			flex-direction: column;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;

			&__img {
				flex: 0 0 100%;
				max-width: 100%;
			}

			&__content {
				padding: 24px;
			}

			&__title {
				font-size: 22px;
			}

			&__excerpt {
				font-size: 14px;
				-webkit-line-clamp: 4;
			}
		}
	}
}