.news-single-page {
	.container {
		margin-top: 32px;
		margin-bottom: 30px;
		@include rounded(6px);
		background: #FFFFFF;
		max-width: 920px;
		padding: 48px 60px 56px 60px;

		@include mq('md') {
			padding: 35px;
		}

		@include mq('sm') {
			padding: 35px 15px;
		}
	}

	.breadcrumbs {
		margin-bottom: 6px;
	}

	.page-title {
		margin-bottom: 9px;
	}

	.news-single-options {
		display: flex;
		margin-bottom: 5px;
		flex-wrap: wrap;
	}

	.news-single-option {
		color: #5c5c5c;
		font-size: 14px;
		line-height: 1.1;
		margin-bottom: 5px;

		&:first-of-type {
			margin-right: 55px;
		}
	}

	article {
		color: #000;
	}

	.news-navigation {
		margin-top: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.btn {
			padding: 12px 24px;
			color: #000;
			@include rounded(2px);
		}
	}
}