.service-single-page {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include mq('lg') {
			flex-direction: column;
		}
	}

	.container-sm {
		padding: 0 20px 0 0;
		margin: 0;

		@include mq('lg') {
			flex-direction: column;
			padding: 0 10px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.page-title {
		margin-bottom: 16px;
	}
}

.service-aside {
	flex: 0 0 380px;
	max-width: 380px;
	position: sticky;
	top: 167px;
	right: 0;

	&__consultant {
		background: #F0EEEB;
		border: 1px solid #CCCCCC;
		padding: 24px 30px;

		@include mq('lg') {
			min-width: 380px;
			flex: 0 0 100%;
			max-width: 100%;
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
		}

		@include mq('sm') {
			min-width: initial;
			flex: 0 0 100%;
			max-width: 100%;
			position: relative;
			top: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.service-consultant {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__img {
			img {
				object-fit: contain;
				object-position: center;
				max-width: 100%;
				max-height: 207px;
			}
		}

		&__text {
			margin-top: 24px;
			margin-bottom: 12px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-style: italic;
			width: 100%;

			strong {
				color: #3C3223;
				font-weight: 600;
			}

			span {
				display: inline-block;
				margin-top: 2px;
				color: #5E574C;
			}
		}

		&__contacts {
			display: flex;
			width: 100%;
			position: relative;
			padding-top: 12px;
			padding-bottom: 12px;

			&::before, &::after {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				border-bottom: 1px solid #CCCCCC;
				box-shadow: 0px 1px 0px #FFFFFF;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			a {
				display: inline-block;
				flex-grow: 1;
				color: #374957;
				font-weight: 600;
				text-align: center;

				&:last-of-type {
					border-left: 1px solid #CCCCCC;
				}
			}

			@include mq('sm') {
				flex-direction: column;

				a {
					&:last-of-type {
						border: none;
						margin-top: 5px;
					}
				}
			}
		}

		.btn {
			margin-top: 12px;
		}
	}

	&__menu {
		@include mq('lg') {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0 10px;
			margin-top: 40px;
		}
	}
}

.service-consultant-footer {
	padding: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #CCCCCC;

	@include mq('md') {
		align-items: flex-start;
	}

	@include mq('sm') {
		flex-direction: column;
	}

	&__img {
		flex: 0 0 38%;
		max-width: 38%;
		display: inline-flex;

		@include mq('md') {
			flex: 0 0 25%;
			max-width: 25%;
		}

		@include mq('sm') {
			flex: 0 0 100%;
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	
	&__content {
		flex-grow: 1;
		padding-left: 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		& > strong {
			display: block;
			color: #3C3223;
			font-style: italic;
			font-weight: 600;
		}

		& > span {
			display: block;
			margin-top: 2px;
			font-style: italic;
			color: #5E574C;
		}

		@include mq('sm') {
			padding: 0;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
	}

	&__achievements {
		margin-top: 24px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		div {
			padding: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #EBEBEB;
			border-radius: 4px;

			&:not(:last-of-type) {
				margin-right: 24px;
			}

			strong {
				font-weight: 600;
				font-size: 36px;
				line-height: 1;
				color: #B7A05E;
			}

			span {
				display: block;
				color: #000;
				font-size: 14px;
				line-height: 1.05;
				white-space: pre-wrap;
				margin-left: 10px;
			}

			@include mq('md') {
				strong {
					font-size: 28px;
				}
			}

			@include mq('sm') {
				&:not(:last-of-type) {
					margin-right: 16px;
				}
			}
		}
	}

	.btn {
		margin-top: 24px;
	}
}