.services-grid {
	display: grid;
	grid-gap: 28px 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	.service-list-item {
		@include check-hover() {

			&:hover .service-list-item__title {
				@include reset-title;
				color: $color-primary;
			}
		}

		&:active .service-list-item__title {
			@include reset-title;
			color: $color-primary;
		}

		&__footer {
			padding: 24px 26px;
		}

		@include mq('sm') {
			&__footer {
				padding: 20px;
			}

			&__title {
				font-size: 18px;
			}
		}
	}
}