.dynamic-blocks
    .container
        .dynamic-block.dynamic-block-1
            h2.h1 Кто мы?
            p
                | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций бэк-офиса для
                | семейных бизнесов частных клиентов, сопровождения инвестиций и управления активами, российского и
                | международного налогового консалтинга, аутсорсинга учетных функций  и временного управления.
            .dynamic-block__actions
                button.btn.btn-media
                    span Посмотреть презентацию
                a.btn-link(href="javascript:void(0);") Подробнее

        .dynamic-block.dynamic-block-2
            h2.h1 Digital
            p
                | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций бэк-офиса для
                | семейных бизнесов частных клиентов, сопровождения инвестиций и управления активами, российского и
                | международного налогового консалтинга, аутсорсинга учетных функций  и временного управления.
            p
                | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций бэк-офиса для
                | семейных бизнесов частных клиентов, сопровождения инвестиций
            .dynamic-block__actions
                button.btn.btn-media
                    span Посмотреть презентацию
                a.btn-link(href="javascript:void(0);") Подробнее

        .dynamic-block.dynamic-block-3
            h2.h1 Почему мы?
            p.strong
                | Ваша репутация и безопасность Вашего бизнеса имеют
                | первостепенное значение, поэтому, когда наступает
                | решающий момент, нет времени для сомнений и раздумий
                | над правильностью выбора консультанта.
                |
            p.strong Мы понимаем Ваш мир. Вы можете на нас положиться.
            .dynamic-block__actions
                a.btn-link(href="javascript:void(0);") Подробнее

        .dynamic-block.dynamic-block-4
            h2.h3 Помогаем контролировать ситуацию, с  распространенными угрозами
            ul.marker
                li Налоговые проверки
                li Неверная отчетность
                li Корпоративные конфликты
                li Судебные разбирательства
                li Кибер-атаки
                li Вмешательство правоохранительных органов
                li Конфликты в семье собственников
                li Критичные изменения законодательства
                li Саботаж руководящих сотрудников
