.features.section
    .container
        ul.features__list
            li.features-item
                .features-item__icon
                    img(src="./images/features-1.svg")
                .features-item__title Персональный подход
                .features-item__text
                    | Изучаем Ваши потребности, цели, ожидания, внутренние мотивы, чтобы максимально близко
                    | подобрать соответствующее решение задачи
                a.btn-link(href="#") Подробнее
            li.features-item
                .features-item__icon
                    img(src="./images/features-2.svg")
                .features-item__title Независимость
                .features-item__text
                    | У нас нет ограничений по работе с публичными личностями, госслужащими или политиками, нет
                    | «запрещенных» стран из различных списков или санкционных отраслей
                a.btn-link(href="#") Подробнее
            li.features-item
                .features-item__icon
                    img(src="./images/features-3.svg")
                .features-item__title Технологиии
                .features-item__text
                    | Предлагаем нашим клиентам решения, которые позволяют оптимизировать их бизнес-процессы и
                    | сделать представление и анализ данных из различных учетных систем простым и наглядным
                a.btn-link(href="#") Подробнее