section.offices.section
    .container-outer
        .container
            h2.h1.section__title Офисы
            p.section__description
                | Каждый день 30 консультантов в Москве и Волгограде выстраивают
                | доверительные отношения с клиентами.
                | Консультанты анализируют бизнес – задачи, планы и вырабатывают практическое решение.

            include ../offices-list.pug
