section.review.section.section_dark
    .container
        h2.h1.section__title О нас говорят

        .review__slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .review-item
                        .review-item__text
                            | Это была колоссальная работа, вы сделали ее с мастерством и бескомпромиссной
                            | тщательностью в деталях. Благодаря вашим усилиям каждое произведение представляет собой
                            | отличный эпизод в фантастической главе, способствующий достижению высочайшего
                            | исторического уровня события L'Oreal China.
                        .review-item__author
                            span Валерия Васина
                            p Учредитель компании Loreal
                            img(src="./images/review-author.png")
                .swiper-slide
                    .review-item
                        .review-item__text
                            | Это была колоссальная работа, вы сделали ее с мастерством и бескомпромиссной
                            | тщательностью в деталях. Благодаря вашим усилиям каждое произведение представляет собой
                            | отличный эпизод в фантастической главе, способствующий достижению высочайшего
                            | исторического уровня события L'Oreal China.
                            | Это была колоссальная работа, вы сделали ее с мастерством и бескомпромиссной
                            | тщательностью в деталях. Благодаря вашим усилиям каждое произведение представляет собой
                            | отличный эпизод в фантастической главе, способствующий достижению высочайшего
                            | исторического уровня события L'Oreal China.
                        .review-item__author
                            span Валерия Васина
                            p Учредитель компании Loreal
                            img(src="./images/review-author.png")
            .review-nav
                button.swiper-button-prev
                    svg(width="19" height="8")
                        use(xlink:href="#arrow-left")
                button.swiper-button-next
                    svg(width="19" height="8")
                        use(xlink:href="#arrow-right")