mixin menu()
    ul.service-list-item__menu(aria-expanded="false")
        li
            a(href="javascript:void(0);")
                | Аутсорсинг
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")
        li
            a(href="javascript:void(0);")
                | Услуги для семейных офисов состоятельных клиентов
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")
        li
            a(href="javascript:void(0);")
                | Финансовый консалтинг
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")
        li
            a(href="javascript:void(0);")
                | Временное управление
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")
        li
            a(href="javascript:void(0);")
                | Миграционное законодательство
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")
        li
            a(href="javascript:void(0);")
                | БС-Digital
                svg(width="7" height="10")
                    use(xlink:href="#chevron-right")

.service-list
    .container
        ul.service-list__items
            li
                .service-list-item
                    a.service-list-item__wrap
                        .service-list-item__img
                            img(src="../images/service-list-1.png" alt="")
                        .service-list-item__footer
                            .h3.service-list-item__title Частным лицам
                            .service-list-item__button
                                span
                                span
                                span
                    +menu()
            li
                .service-list-item
                    a.service-list-item__wrap
                        .service-list-item__img
                            img(src="../images/service-list-2.png" alt="")
                        .service-list-item__footer
                            .h3.service-list-item__title Семейным офисам
                            .service-list-item__button
                                span
                                span
                                span
                    +menu()
            li
                .service-list-item
                    a.service-list-item__wrap
                        .service-list-item__img
                            img(src="../images/service-list-3.png" alt="")
                        .service-list-item__footer
                            .h3.service-list-item__title Предпринимателям
                            .service-list-item__button
                                span
                                span
                                span
                    +menu()