.container
    .subscription
        .subscription__text.h2 Подпишись на актуальные новости для предпринимателей и топ-менеджеров
        form.subscription__form
            .form-item__text-field
                input(type="email")
                label Эл. почта
            button.btn.btn-gray Подписаться