mixin breadcrumbs(items)
    nav.breadcrumbs
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a(href="#") Главная
            each item, index in items
                if (index + 1 != items.length )
                    li.breadcrumbs__item
                        a(href="#")= item
                else
                    li.breadcrumbs__item
                        span= item