<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title О нас
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.about-page.without-breadcrumbs
						.container-md
							article
								.about-block
									.about-block__title
										h1 Кто мы
									.about-block__content
										p 
											| БК+ была создана для оказания своим клиентам высокопрофессиональных услуг в сфере аутсорсинга учетных функций 
											| в 2009 году, как дочернее общество крупнейшей российской аудиторской компании, члена международной сети входящей 
											| в ТОП-10 аудиторско-консалтинговых групп мира.
										p 
											| В 2017 году эту компанию приобрели юристы – выходцы из международной (Magic Circle) юридической фирмы для 
											| удовлетворения запроса своих частных клиентов об оказании комплексных услуг по аутсорсингу функций бэк-офиса и 
											| учетных функций для семейных офисов (Family Offices).
										p 
											| Для повышения эффективности бизнес процессов и снижения стоимости рутинных операций для клиентов, в 2018 году, 
											| БК+ открыла свой офис в Волгограде, где на сегодняшний день работает основной персонал по направлению аутсорсинг 
											| учетных функций. За три последующих года репутация надежных доверенных консультантов способных дискретно решать 
											| самые сложные задачи привела в круг клиентов БК+ несколько крупных семейных бизнесов и инвестиционных фондов.
										p 
											| Менее чем через три года, в июне 2020 года, БК+ заняла 35-е место в рейтинге крупнейших групп и компаний в области 
											| аутсорсинга учётных функций по итогам 2019 года (по данным исследования RAEX). В 2020 году общее количество 
											| сотрудников по России превысило 30 человек, которые работают в двух офисах в Москве и Волгограде, а партнеры 
											| фирмы начали переговоры об открытии нового офиса в г. Сочи.

								.about-block
									.about-block__title
										h2 RAEX
									.about-block__content
										p
											| RAEX (Эксперт РА) – крупнейшее в России рейтинговое агентство c 20-летней историей, лидер в области рейтингования 
											| и исследовательско-коммуникационной деятельности. В рэнкинге RAEX «» БК+ заняла 35 строчку, показав рост в 206%. 
										p 
											| На конец 2019 года совокупный доход всех сервисных линий БК+ вырос более чем в 3 раза – наибольший показатель 
											| с момента основания компании в 2009 году и лучший результат среди участников рейтинга. Общее число сотрудников 
											| компании выросло на 30%. Эксперты БК+ оказывают услуги клиентам из различных регионов России из двух 
											| офисов компании.

								.about-block
									.about-block__title
										h2 Финансовые результаты
									.about-block__content
										p Коротко о наших финансовых результатах на 31 декабря 2019 года: 
										ul
											li Общий рост дохода по сервисным линиям обеспечили налоговые и консультационные услуги, их доля 
												| превысили 70% от общего дохода.
											li Число сотрудников БК+ во всех офисах выросло на 30% и насчитывает 35 человек
											li Рынок BK+ в Московском регионе демонстрирует существенное увеличение дохода благодаря активному использованию 
												| субъектами экономики различных современных онлайн-каналов и сервисов и наличию в БК+ профессиолнальгной 
												| команды IT специалистов предоставляющих услуги клиентам, а также пандемии.
											li Совокупный доход компании на 206% и составил 35,5 млн. рублей

								.about-block
									.about-block__title
										h2 Наш опыт
									.about-block__content
										blockquote
											p Успешно реализованные нами кейсы по различным направлениям консалтинга.
										ul
											li Общий рост дохода по сервисным линиям обеспечили налоговые и консультационные услуги, их доля 
												| превысили 70% от общего дохода.
											li Число сотрудников БК+ во всех офисах выросло на 30% и насчитывает 35 человек
											li Рынок BK+ в Московском регионе демонстрирует существенное увеличение дохода благодаря активному использованию 
												| субъектами экономики различных современных онлайн-каналов и сервисов и наличию в БК+ профессиолнальгной 
												| команды IT специалистов предоставляющих услуги клиентам, а также пандемии.
											li Совокупный доход компании на 206% и составил 35,5 млн. рублей

			include includes/footer.pug