<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Команда
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.command-page
						.container
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Команда'])

							h1.page-title Команда

							.contact-persones
								ul.contact-persones__list
									each i in [1, 2, 1, 2, 1, 2, 1, 2]
										li
											.contact-persone
												.contact-persone__img
													img(src="./images/contact-persone-"+i+".jpg")
												.contact-persone__content
													strong= i == 1 ? "Александр Резниченко" : "Глеб Арутюнян"
													span Ваш персональный менеджер БК+ 
														strong= i == 1 ? "в Москве" : "в Волгограде"
													.contact-persone__contacts
														a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
														a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
													button.btn Написать сообщение

			include includes/footer.pug