<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Контакты
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.contacts-page
						.container
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Контакты'])

							h1.page-title Контакты

							include includes/offices-list.pug

							include includes/map.pug

						.container-fluid.contacts-feedback(style="background-image: url(./images/contact-bg.jpg)")
							include includes/feedback.pug

			include includes/footer.pug