<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title География компании
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.geo-company-page
						.container
							include mixins/breadcrumbs.pug
							+breadcrumbs(['География компании'])

							h1.page-title География компании

							ul.offices-info
								li
									.offices-info-item
										.offices-info-item__img
											img(src="./images/office-moscow-1.png", alt="")
										.offices-info-item__content
											.offices-info-item__city Москва
											.offices-info-item__address Бизнес-центр «Ильинка» ул. Ильинка 3/8 стр.5,
											.offices-info-item__contacts
													a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
													a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
											.offices-info-item__text
												p
													| БК+  начал работу еще в 2009 году, а в 2018 году фирма перенесла свой головной офис в самое сердце столицы 
													| и открыла офис на улице Ильинка. За это время БК+ вошло в число лидеров рынка аутсорсинговых услуг и стала 
													| самой динамично развивающейся фирмой по предоставлению аутсорсинговых, налоговых и консультационных услуг. 
													| У нас накоплен более чем 10-летний опыт работы с российскими и зарубежными компаниями, а также опыт 
													| активного участия в построении бизнес-процессов семейных офисов частных клиентов.
												p 
													| В московском офисе БК+ работает 6 человек, которые являются основными контактными лицами для клиентов из 
													| Москвы и московского региона.
											button.btn Смотреть на карте
								li
									.offices-info-item
										.offices-info-item__img
											img(src="./images/office-volgograd-1.png", alt="")
										.offices-info-item__content
											.offices-info-item__city Волгоград
											.offices-info-item__address Бизнес-центр «Икра» Наб. 62-й Армии 
											.offices-info-item__contacts
													a(href="tel:+7 (8442) 267-212") +7 (8442) 267-212
													a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
											.offices-info-item__text
												p
													| БК+  начал работу еще в 2009 году, а в 2018 году фирма перенесла свой головной офис в самое сердце столицы 
													| и открыла офис на улице Ильинка. За это время БК+ вошло в число лидеров рынка аутсорсинговых услуг и стала 
													| самой динамично развивающейся фирмой по предоставлению аутсорсинговых, налоговых и консультационных услуг. 
													| У нас накоплен более чем 10-летний опыт работы с российскими и зарубежными компаниями, а также опыт 
													| активного участия в построении бизнес-процессов семейных офисов частных клиентов.
												p 
													| В московском офисе БК+ работает 6 человек, которые являются основными контактными лицами для клиентов из 
													| Москвы и московского региона.
											button.btn Смотреть на карте

							.contact-persones
								h2 Контактные лица

								ul.contact-persones__list
									li
										.contact-persone
											.contact-persone__img
												img(src="./images/contact-persone-1.jpg")
											.contact-persone__content
												strong Александр Резниченко
												span Ваш персональный менеджер БК+ 
													strong в Москве
												.contact-persone__contacts
													a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
													a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
												button.btn Написать сообщение
									li
										.contact-persone
											.contact-persone__img
												img(src="./images/contact-persone-2.jpg")
											.contact-persone__content
												strong Глеб Арутюнян
												span Ваш персональный менеджер БК+ 
													strong в Волгограде
												.contact-persone__contacts
													a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
													a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
												button.btn Написать сообщение

			include includes/footer.pug