<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body.main-page-body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.main-page
						include includes/main-slider.pug

						include includes/main/services-list.pug

						include includes/main/dynamic-block

						include includes/main/features.pug

						include includes/main/reviews.pug

						include includes/news-list.pug

						include includes/main/subscription.pug

						include includes/main/offices.pug


			include includes/footer.pug