<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Карьера
    body
        .wrap-page
            .wrap
                include includes/header.pug

                main
                    .jobs-page
                        .container-sm
                            include mixins/breadcrumbs.pug
                            +breadcrumbs(['Карьера'])

                            h1.page-title Карьера

                            p
                                | БК+ стремится создать максимально комфортные условия для своих сотрудников. Мы гордимся достижениями 
                                | и успехами коллег и прилагаем все усилия к тому, чтобы поддержать дух взаимопомощи и развить 
                                | позитивную корпоративную культуру. Сплоченный коллектив, высокая мотивация и большое количество 
                                | возможностей для самореализации – неотъемлемая часть философии БК+. 
                            p
                                | Мы инвестируем в образование и профессиональный рост своих сотрудников и предоставляем для этого 
                                | необходимые ресурсы времени и средств. 
                            
                            h2 Требования к кандидатам

                            p
                                | Мы обращаем внимание на то, что этапы отбора и требования к кандидатам могут отличаться в 
                                | зависимости от сервисной линии и должности. Карьерный путь также зависит от опыта и результатов 
                                | работы каждого сотрудника.

                            h2 Вакансии

                            .dropdown(aria-expanded="false" data-dropdown-groups="jobs")
                                a.dropdown-header(href="javascript:void(0);")
                                    .dropdown-header__title Бухгалтер
                                    .dropdown-header__icon
                                .dropdown-content
                                    .dropdown-content__wrap
                                        strong Должностные обязанности
                                        ul
                                            li ведение учета нескольких юридических лиц, разные системы налогообложения;
                                            li ведение учета по всем разделам;
                                            li расчет заработной платы и ведение кадрового учета;
                                            li предварительный расчет налогов;
                                            li подготовка налоговой отчетности (НДС, прибыль, имущество, транспорт, УСН);
                                            li подготовка бухгалтерской отчетности;
                                            li консультирование клиентов по возникающим вопросам;
                                            li взаимодействие с налоговой и фондами.
                                        strong Требования
                                        ul
                                            li высшее образование (экономическое);
                                            li уверенное знание бухгалтерского и налогового законодательства;
                                            li способность организовать работу и спланировать рабочее время;
                                            li отличное владение 1С 8.2, 8.3, ЗУП, Excel, Word и Outlook;
                                            li системность мышления‚ уравновешенность, бесконфликтность‚ многозадачность.
                                        strong Приветствуется:
                                        ul
                                            li высшее профильное образование;
                                            li знание теории бухгалтерского и налогового учета, базового законодательства;
                                            li опыт работы с первичной документацией, знание программы 1С (8.3), Консультант+, Банк-Клиент;
                                            li желателен опыт работы в аутсорсинге.

                            .dropdown(aria-expanded="false" data-dropdown-groups="jobs")
                                a.dropdown-header(href="javascript:void(0);")
                                    .dropdown-header__title Главный Бухгалтер
                                    .dropdown-header__icon
                                .dropdown-content
                                    .dropdown-content__wrap
                                        strong Должностные обязанности
                                        ul
                                            li ведение учета нескольких юридических лиц, разные системы налогообложения;
                                            li ведение учета по всем разделам;
                                            li расчет заработной платы и ведение кадрового учета;
                                            li предварительный расчет налогов;
                                            li подготовка налоговой отчетности (НДС, прибыль, имущество, транспорт, УСН);
                                            li подготовка бухгалтерской отчетности;
                                            li консультирование клиентов по возникающим вопросам;
                                            li взаимодействие с налоговой и фондами.
                                        strong Требования
                                        ul
                                            li высшее образование (экономическое);
                                            li уверенное знание бухгалтерского и налогового законодательства;
                                            li способность организовать работу и спланировать рабочее время;
                                            li отличное владение 1С 8.2, 8.3, ЗУП, Excel, Word и Outlook;
                                            li системность мышления‚ уравновешенность, бесконфликтность‚ многозадачность.
                                        strong Приветствуется:
                                        ul
                                            li высшее профильное образование;
                                            li знание теории бухгалтерского и налогового учета, базового законодательства;
                                            li опыт работы с первичной документацией, знание программы 1С (8.3), Консультант+, Банк-Клиент;
                                            li желателен опыт работы в аутсорсинге.

            include includes/footer.pug