<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Модальные окна
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.modals-page
						.container
							br
							br
							button.btn(data-open-modal="modal-feedback") #modal-feedback
							br
							br
							button.btn(data-open-modal="modal-text") #modal-text

						#modal-text.modal(aria-hidden="true")
							.modal__overlay(tabindex="-1" data-close-modal)
								.modal__container(role="dialog" aria-modal="true" style="max-width:736px;")
									button.modal__close(aria-label="Закрыть" data-close-modal)
									.modal__header
										h3.modal__title Персональный подход
									.modal__content
										p Изучаем Ваши потребности, цели, ожидания, внутренние мотивы, чтобы максимально близко подобрать соответствующее решение задачи

						#modal-feedback.modal(aria-hidden="true")
							.modal__overlay(tabindex="-1" data-close-modal)
								.modal__container(role="dialog" aria-modal="true")
									button.modal__close(aria-label="Закрыть" data-close-modal)
									.modal__header
										h3.text-center.modal__title Свяжитесь с нами
									.modal__content
										form
											.form-item.form-item__text-field
												input(type="text")
												label Имя и Фамилия

											.form-item.form-item__text-field
												input(type="email")
												label Эл. почта

											.form-item.form-item__text-field
												input(type="tel")
												label Номер телефона

											.form-item.form-item__text-field
												input(type="text")
												label Название компании

											.form-item.form-item__textarea
												textarea
												label Комментарий

											.form-item
												button.btn.full-width(type="submit") Отправить

											.form-item__checkbox.form-item__agree
												label
													input(type="checkbox")
													span
														| Я прочитал(а) и принимаю условия Положения о конфиденциальности, Условия использования информации 
														| и Условия обработки персональных данных


			include includes/footer.pug