<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Новости
    body
        .wrap-page
            .wrap
                include includes/header.pug

                main
                    .news-page
                        .container-sm
                            include mixins/breadcrumbs.pug
                            +breadcrumbs(['Новости'])

                            h1.page-title В фокусе

                            .news-list
                                each index in [1, 2, 1, 2, 1, 2]
                                   a.news-card
                                        .news-card__img
                                            img(src="./images/news-"+index+".jpg" alt="")
                                        .news-card__content
                                            h2.news-card__title ИП платит налог на доход, даже с личного счёта
                                            .new-card__excerpt Предприниматель, который применяет УСН «Доходы», в свою налоговую...

                            include includes/pagination.pug

                        include includes/main/subscription.pug

            include includes/footer.pug