<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Страница новости
	body
		.wrap-page
			.wrap
				include includes/header.pug

				main
					.news-single-page
						.container
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Новости', 'Заблокировали расчетный счет'])

							h1.h2.page-title Заблокировали расчетный счет? Есть законные способы вывода денег без комиссий!

							.news-single-options
								.news-single-option 22 октября 2020
								.news-single-option Время чтения: 2 минуты
							
							article
								p 
									| Налоговое консультирование – вид профессиональной деятельности по оказанию налогоплательщикам, плательщикам 
									| сборов, налоговым агентам, либо иным лицам услуг, которые содействуют должному исполнению ими своих обязанностей, 
									| предусмотренных законодательством РФ о налогах и сборах, принятыми в соответствии с ним нормативными актами, а 
									| также законодательными актами о различных видах обязательного страхования. 

								img(src="./images/article-img.jpg" alt="")

								h2 Роль налогового консультирования

								p
									| Налоговое консультирование – вид профессиональной деятельности по оказанию налогоплательщикам, плательщикам сборов, 
									| налоговым агентам, либо иным лицам услуг, которые содействуют должному исполнению ими своих обязанностей, 
									| предусмотренных законодательством РФ о налогах и сборах, принятыми в соответствии с ним нормативными актами, 
									| а также законодательными актами о различных видах обязательного страхования. 

								ol
									li Информирование налогоплательщиков и налоговых агентов.
									li Поддержка принятия комплекса управленческих решений, направленных на решение проблемных ситуаций.

								p 
									| Налоговое консультирование – вид профессиональной деятельности по оказанию налогоплательщикам, плательщикам сборов, 
									| налоговым агентам, либо иным лицам услуг, которые содействуют должному исполнению ими своих обязанностей, 
									| предусмотренных законодательством РФ о налогах и сборах, принятыми в соответствии с ним нормативными
									| актами, а также законодательными актами о различных видах обязательного страхования. 

								ul
									li
										| предоставить рекомендации относительно наиболее эффективного способа инвестирования, исходя из портфеля инвестиций 
										| и личных обстоятельств физлица;
									li из портфеля инвестиций и личных обстоятельств физлица;
								
							.news-navigation
								a.btn.btn-secondary.news-navigation__btn(href="#") Назад
								a.btn.btn-secondary.news-navigation__btn(href="#") Вперед

			include includes/footer.pug