<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Услуги
    body
        .wrap-page
            .wrap
                include includes/header.pug

                main
                    .services-page
                        .container
                            include mixins/breadcrumbs.pug
                            +breadcrumbs(['Наши услуги'])

                            h1.page-title Наши услуги

                            .page-description
                                p
                                    | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций
                                    | бэк-офиса для семейных бизнесов частных клиентов, сопровождения инвестиций и
                                    | управления активами, российского и международного налогового консалтинга,
                                    | аутсорсинга учетных функций  и временного управления.

                            - var services = [
                            -    'Аутсорсинг', 'Услуги для семейных офисов состоятельных клиентов',
                            -    'Финансовый консалтинг', 'Временное управление',
                            -    'Миграционное законодательство', 'БС-Digital'
                            - ];

                            .services-grid
                                each title, key in services
                                    .service-list-item
                                        a.service-list-item__wrap
                                            .service-list-item__img
                                                img(src="../images/services-"+key+".jpg" alt=title)
                                            .service-list-item__footer
                                                .h3.service-list-item__title= title



            include includes/footer.pug