<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Услуги
    body
        .wrap-page
            .wrap
                include includes/header.pug

                main
                    .service-single-page
                        .container
                            .container-sm
                                include mixins/breadcrumbs.pug
                                +breadcrumbs(['Наши услуги', 'Частным лицам'])

                                h1.page-title Частным лицам

                                article
                                    p
                                        | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций
                                        | бэк-офиса для семейных бизнесов частных клиентов, сопровождения инвестиций и
                                        | управления активами, российского и международного налогового консалтинга,
                                        | аутсорсинга учетных функций  и временного управления.

                                    h2 Роль налогового консультирования

                                    p
                                        | Налоговое консультирование – вид профессиональной деятельности по оказанию
                                        | налогоплательщикам, плательщикам сборов, налоговым агентам, либо иным лицам
                                        | услуг, которые содействуют должному исполнению ими своих обязанностей,
                                        | предусмотренных законодательством РФ о налогах и сборах, принятыми в
                                        | соответствии с ним нормативными актами, а также законодательными актами о
                                        | различных видах обязательного страхования.

                                    ol
                                        li Информирование налогоплательщиков и налоговых агентов.
                                        li Поддержка принятия комплекса управленческих решений, направленных на решение
                                            | проблемных ситуаций.

                                    p
                                        | Мы консультируем по вопросам налогообложения в России и за рубежом и готовы
                                        | вместе с вами внедрять предложенные нами решения. Вы также можете положиться
                                        | на наших квалифицированных юристов и адвокатов во всех вопросах касающихся
                                        | гражданского, административного и уголовного законодательства. Мы готовы
                                        | представлять Ваши интересы в отношениях с государственными органами,
                                        | работодателями и правоохранителями по любым вопросам. Во всех вопросах,
                                        | которые касаются смежных специальностей, таких как аудит, оценка, управленческий
                                        | и стратегический консалтинг или иностранных юрисдикций, ВЫ получаете сервис
                                        | мирового уровня благодаря нашим партнерским отношениям с одной из крупнейших в
                                        | мире аудиторско-консалтинговых групп.

                                    p Наши специалисты с готовностью помогут Вам в следующих вопросах:

                                    ul
                                        li Налоговое консультирование
                                        li Контролируемые иностранные компании (КИК)
                                        li Безналоговая  ликвидация и амнистия
                                        li Валютное законодательство
                                        li Миграционное законодательство
                                        li Сопровождение  альтернативных инвестиций
                                        li Авторское право
                                        li Налоговые льготы и вычеты

                            .service-aside.service-aside__consultant
                                .service-consultant
                                    .service-consultant__img
                                        img(src="./images/consultant.jpg")
                                    .service-consultant__text
                                        strong Александр Резниченко
                                        span Ваш персональный консультант
                                    .service-consultant__contacts
                                        a(href="tel:+7 (495) 921-21-16") +7 (495) 921-21-16
                                        a(href="mailto:bkplus@mail.ru") bkplus@mail.ru
                                    button.btn Написать сообщение

            include includes/footer.pug