<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Услуги 2
    body
        .wrap-page
            .wrap
                include includes/header.pug

                main
                    .service-single-page
                        .container
                            .container-sm
                                include mixins/breadcrumbs.pug
                                +breadcrumbs(['Наши услуги', 'Частным лицам', 'Налоговое консультирование'])

                                h1.page-title Название услуги

                                article
                                    p
                                        | БК+ это Ваш российский партнер во всем, что касается вопросов организации функций
                                        | бэк-офиса для семейных бизнесов частных клиентов, сопровождения инвестиций и
                                        | управления активами, российского и международного налогового консалтинга,
                                        | аутсорсинга учетных функций  и временного управления.

                                    h2 Роль налогового консультирования

                                    p
                                        | Налоговое консультирование – вид профессиональной деятельности по оказанию
                                        | налогоплательщикам, плательщикам сборов, налоговым агентам, либо иным лицам
                                        | услуг, которые содействуют должному исполнению ими своих обязанностей,
                                        | предусмотренных законодательством РФ о налогах и сборах, принятыми в
                                        | соответствии с ним нормативными актами, а также законодательными актами о
                                        | различных видах обязательного страхования.

                                    ol
                                        li Информирование налогоплательщиков и налоговых агентов.
                                        li Поддержка принятия комплекса управленческих решений, направленных на решение
                                            | проблемных ситуаций.

                                    p
                                        | Налоговое консультирование – вид профессиональной деятельности по оказанию
                                        | налогоплательщикам, плательщикам сборов, налоговым агентам, либо иным лицам
                                        | услуг, которые содействуют должному исполнению ими своих обязанностей,
                                        | предусмотренных законодательством РФ о налогах и сборах, принятыми в
                                        | соответствии с ним нормативными актами, а также законодательными актами о
                                        | различных видах обязательного страхования.

                                    ul
                                        li предоставить рекомендации относительно наиболее эффективного способа
                                            | инвестирования, исходя из портфеля инвестиций и личных обстоятельств
                                            | физлица;
                                        li из портфеля инвестиций и личных обстоятельств физлица;

                                    p


                                    p
                                        | Налоговое консультирование – вид профессиональной деятельности по оказанию
                                        | налогоплательщикам, плательщикам сборов, налоговым агентам, либо иным лицам
                                        | услуг, которые содействуют должному исполнению ими своих обязанностей,
                                        | предусмотренных законодательством РФ о налогах и сборах, принятыми в
                                        | соответствии с ним нормативными актами, а также законодательными актами о
                                        | различных видах обязательного страхования.

                                    ul
                                        li предоставить рекомендации относительно наиболее эффективного способа
                                            | инвестирования, исходя из портфеля инвестиций и личных обстоятельств
                                            | физлица;
                                        li из портфеля инвестиций и личных обстоятельств физлица;

                                .service-consultant-footer
                                    .service-consultant-footer__img
                                        img(src="./images/consultant-big.jpg")
                                    .service-consultant-footer__content
                                        strong Александр Резниченко
                                        span Ваш персональный консультант
                                        .service-consultant-footer__achievements
                                            div
                                                strong 6
                                                span
                                                    | лет
                                                    br 
                                                    | опыта
                                            div
                                                strong 80
                                                span
                                                    | успешных
                                                    br
                                                    | проектов
                                        button.btn Написать сообщение

                            - var list = [
                            -   'Налоговое консультирование', 'Контролируемые иностранные компании (КИК)',
                            -   'Безналоговая  ликвидация и амнистия', 'Валютное законодательство',
                            -   'Миграционное законодательство', 'Сопровождение  альтернативных инвестиций',
                            -   'Авторское право', 'Трудовые  договоры и участие в мотивационных программах для руководителей',
                            -   'Создание собственного бизнеса', 'Налоговые льготы и вычеты',
                            - ];

                            .service-aside.service-aside__menu
                                nav.service-menu-nav
                                    .service-menu-nav-item(aria-expanded="true")
                                        a.service-menu-nav-item__header(href="javascript:void(0);") Частным лицам
                                        .service-menu-nav-item__list
                                            ul
                                                each item in list
                                                    li
                                                        a(href="#")= item
                                    .service-menu-nav-item(aria-expanded="false")
                                        a.service-menu-nav-item__header(href="javascript:void(0);") Семейным офисам
                                        .service-menu-nav-item__list
                                            ul
                                                each item in list
                                                    li
                                                        a(href="#")= item
                                    .service-menu-nav-item(aria-expanded="false")
                                        a.service-menu-nav-item__header(href="javascript:void(0);") Предпринимателям
                                        .service-menu-nav-item__list
                                            ul
                                                each item in list
                                                    li
                                                        a(href="#")= item

            include includes/footer.pug