@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';
@import 'base/icons';

@import 'tools/grid';

@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/input-fields';
@import "components/section";
@import 'components/footer';
@import 'components/header';
@import 'components/header-menu';
@import 'components/mobile-menu';
@import 'components/modal';
@import 'components/dropdown';
@import 'components/pagination';
@import 'components/swiper-extension';
@import 'components/main-slider';
@import 'components/subscription';
@import "components/offices";
@import "components/offices-info";
@import "components/news-list";
@import "components/feedback";
@import "components/service-menu-nav";

@import "components/main/features";
@import "components/main/service-list";
@import "components/main/reviews";
@import "components/main/dynamic-block";

.wrap-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrap {
	flex-grow: 1;
}

.page-title {
	font-size: 48px;
	margin-bottom: 52px;
}

.page-description {
	max-width: 780px;
	margin-top: -36px;
	margin-bottom: 52px;
}

@import 'pages/index';
@import 'pages/services';
@import 'pages/service-single';
@import 'pages/contacts';
@import 'pages/about';
@import 'pages/news';
@import 'pages/news-single';
@import 'pages/geo-company';
@import 'pages/jobs';
@import 'pages/command';