.form-item__checkbox,
.form-item__radio {
	position: relative;

	&:not(:last-of-type) {
		margin-bottom: 12px;
	}

	input {
		clip: rect(1px, 1px, 1px, 1px);
		width: 0;
		height: 0;
		appearance: none;
		position: absolute;
		top: 0;
		left: 0;

		& + span {
			position: relative;
			padding-left: 26px;
			min-height: 19px;
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			text-align: left;
			cursor: pointer;

			&::before {
				transition: 0.15s ease-in-out;
				@include rounded(2px);
				content: "";
				position: absolute;
				top: 1px;
				left: 0;
				border: 1px solid #A7955A;
				width: 18px;
				height: 18px;
			}

			&::after {
				transition: opacity 0.15s ease-in-out 0.05s;
				content: "✓";
				font-size: 12px;
				position: absolute;
				top: 2px;
				left: 4px;
				opacity: 0;
				color: #fff;
			}
		}

		&:checked + span {
			&::before {
				border: 9px solid #A7955A;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}

.form-item__agree {
	input + span {
		font-size: 12px;
		color: #333;
	}
}

.form-item__radio {
	input {
		& + span {
			&::before {
				@include rounded;
			}

			&::after {
				content: none;
			}
		}

		&:checked + span {
			&::before {
				border: 5px solid #A7955A;
			}
		}
	}
}