.form-item__text-field {
	position: relative;

	input {
		@include rounded(4px);
		@include transition-hover;
		position: relative;
		font-size: 16px;
		padding: 19px 18px;
		outline: none;
		color: #000;
		background-color: white;
		width: 100%;
		box-shadow: inset 0 0 0 100px white;
		border: 1px solid #E5E5E5;

		&:focus {
			border-color: #DABE89;
		}
	}

	input + label {
		@include transition-hover;
		pointer-events: none;
		font-size: 16px;
		position: absolute;
		top: 18px;
		left: 18px;
		white-space: nowrap;
		max-width: calc(100% - 30px);
		overflow: hidden;
	}

	&.focus {
		input + label {
			@include title-color;
			font-size: 12px;
			line-height: 14px;
			transform: translate(0, -13px);
		}
	}
}
