.container-fluid {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.container-outer {
	width: 100%;
	max-width: 1830px;
	margin: 0 auto;
	padding: 86px 15px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 15px;
		right: 15px;
		background: $bg-container-outer;
	}

	@include mq("sm") {
		padding: 55px 0;

		&::before {
			left: 0;
			right: 0;
		}
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;

	@include mq("xl") {
		max-width: 980px;
	}

	@include mq("lg") {
		max-width: 100%;
	}
}

.container-md {
	width: 100%;
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

.container-sm {
	width: 100%;
	max-width: 800px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}

.full-width {
	width: 100%;
}

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
